<div class="container">
    <div class="row">
                <div class="col-md-3 mb-4 mt-4 align-center">
                        <div class="w-100">
                            <div class="d-flex justify-content-between mb-1 p-2">
                                <h3 class="text-capitalize">{{pokemon1?.name}}</h3>
                                <p>HP: {{pokemon1?.stats![1].base_stat}}</p>
                            </div>  
                            <div class="card w-100 bg-secondary text-white">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemonId1}}.png" class="card-img w-100" alt="${pokemon.name}">
                            </div>
                            <div class="d-flex justify-content-between mb-1 p-2">
                            <button (onclick)="ataca()" type="button" class="btn btn-danger" style="width: 50%; ">Ataca</button>
                            </div>
                        </div>
                </div>   
                <div class="col-md-3 mb-4 mt-4 align-center">
                        <div class="w-100">
                            <div class="d-flex justify-content-between mb-1 p-2">
                                <h3 class="text-capitalize">{{pokemon2?.name}}</h3>
                                <img [src]="">
                                <p>HP: {{pokemon2?.stats![1].base_stat}}</p>
                            </div>
                            <div class="card w-100 bg-secondary text-white">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemonId2}}.png" class="card-img w-100" alt="${pokemon.name}">
                            </div>
                            <div class="d-flex justify-content-between mb-1 p-2">
                            <button (onclick)="ataca()" type="button" class="btn btn-danger" style="width: 50%; ">Ataca</button>
                            </div>
                        </div>
                </div>   
    </div>
</div>
    
 