<!--Contenedor del email-->

<div class="container">
    <div id="row1" class="row">
        <div class="col-2">
            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input [(ngModel)]="emaillogin" matInput placeholder="pat@example.com" [formControl]="email"
                    (blur)="updateErrorMessage()" required />
                @if (email.invalid) {
                <mat-error>{{errorMessage()}}</mat-error>
                }
            </mat-form-field>
        </div>



        <!--Contenedor de la contraseña-->

        <div class="col-3">
            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input [(ngModel)]="password" matInput [type]="hide() ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <!--Boton de login-->
    <div class="row">
        <section>
            <button (click)="mostrarInformacion()" mat-flat-button>Enviar</button>
        </section>
    </div>
</div>